.fileContextButton {
  color: white;
  border: none;
  outline: none;
  background-color: #303242;
  padding: 3px 7px 3px 7px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.fileContextButton:hover {
  background-color: #4b4d54ff;
}
.fileContxtOptionsWrapper {
  width: 120px;
  position: fixed;
  border: 1.5px solid black;
}
